<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lyft</title>
	<link rel="stylesheet" type="text/css" href="../css/assets/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>Sign-up</title>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-2 regresar">
				<i class="fas fa-angle-left" id="return"></i>
			</div>
			<div class="col-10">
				<h5>Verify phone number</h5>
				<span>Join now for free ride credit</span>
			</div>
		</div>
		<hr>
	</header>

	<main class="container">
		<form>
			<div class="form-row">
				<div class="col-12">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-user"></i></div>
						</div>
						<input type="text" class="form-control form-field" placeholder="First-name">
						<input type="text" class="form-control form-field" placeholder="Last-name">
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-12">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-envelope"></i></div>
						</div>
						<input type="email" class="form-control form-field" placeholder="E-mail">
					</div>
				</div>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="conditionsCheck">
				<label class="form-check-label" for="conditionsCheck">
					<small>I agree to Lyft'ss Terms of Service</small>
				</label>
			</div>
			<div class="row button-next-row final">
				<div class="col-12">
					<button class="btn" id="btn-next-phone" type="button">Next</button>
				</div>
			</div>
		</form>
	</main>
	<script src="../js/assets/jquery-3.3.1.js"></script>
	<script src="../js/assets/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/user-data.js"></script>
</body>
</html>